In [37]:
import sys
!{sys.executable} -m pip install chembl_webresource_client pandas numpy

Requirement already satisfied: chembl_webresource_client in c:\users\aslam\appdata\local\programs\python\python313\lib\site-packages (0.10.9)
Requirement already satisfied: pandas in c:\users\aslam\appdata\local\programs\python\python313\lib\site-packages (2.3.2)
Requirement already satisfied: numpy in c:\users\aslam\appdata\local\programs\python\python313\lib\site-packages (2.2.6)
Requirement already satisfied: urllib3 in c:\users\aslam\appdata\local\programs\python\python313\lib\site-packages (from chembl_webresource_client) (2.5.0)
Requirement already satisfied: requests>=2.18.4 in c:\users\aslam\appdata\local\programs\python\python313\lib\site-packages (from chembl_webresource_client) (2.32.5)
Requirement already satisfied: requests-cache~=1.2 in c:\users\aslam\appdata\local\programs\python\python313\lib\site-packages (from chembl_webresource_client) (1.3.0)
Requirement already satisfied: easydict in c:\users\aslam\appdata\local\programs\python\python313\lib\site-packages (from chembl_webresource_client) (1.13)
Requirement already satisfied: attrs>=21.2 in c:\users\aslam\appdata\local\programs\python\python313\lib\site-packages (from requests-cache~=1.2->chembl_webresource_client) (25.4.0)
Requirement already satisfied: cattrs>=22.2 in c:\users\aslam\appdata\local\programs\python\python313\lib\site-packages (from requests-cache~=1.2->chembl_webresource_client) (25.3.0)
Requirement already satisfied: platformdirs>=2.5 in c:\users\aslam\appdata\local\programs\python\python313\lib\site-packages (from requests-cache~=1.2->chembl_webresource_client) (4.4.0)
Requirement already satisfied: url-normalize>=2.0 in c:\users\aslam\appdata\local\programs\python\python313\lib\site-packages (from requests-cache~=1.2->chembl_webresource_client) (2.2.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\aslam\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\aslam\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\aslam\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: typing-extensions>=4.14.0 in c:\users\aslam\appdata\local\programs\python\python313\lib\site-packages (from cattrs>=22.2->requests-cache~=1.2->chembl_webresource_client) (4.14.1)
Requirement already satisfied: six>=1.5 in c:\users\aslam\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\aslam\appdata\local\programs\python\python313\lib\site-packages (from requests>=2.18.4->chembl_webresource_client) (3.4.3)
Requirement already satisfied: idna<4,>=2.5 in c:\users\aslam\appdata\local\programs\python\python313\lib\site-packages (from requests>=2.18.4->chembl_webresource_client) (3.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\aslam\appdata\local\programs\python\python313\lib\site-packages (from requests>=2.18.4->chembl_webresource_client) (2025.8.3)

[notice] A new release of pip is available: 25.2 -> 26.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [38]:
import pandas as pd
import numpy as np
from chembl_webresource_client.new_client import new_client

print("Libraries imported successfully")

Libraries imported successfully

In [39]:
target = new_client.target
targets = target.search('acetylcholinesterase')

targets_df = pd.DataFrame(targets)
targets_df.head()

,cross_references,organism,pref_name,score,species_group_flag,target_chembl_id,target_components,target_type,tax_id
0,[],Drosophila melanogaster,Acetylcholinesterase,18.0,False,CHEMBL2242744,"[{'accession': 'P07140', 'component_descriptio...",SINGLE PROTEIN,7227
1,[],Homo sapiens,Acetylcholinesterase,16.0,False,CHEMBL220,"[{'accession': 'P22303', 'component_descriptio...",SINGLE PROTEIN,9606
2,[],Torpedo californica,Acetylcholinesterase,16.0,False,CHEMBL4780,"[{'accession': 'P04058', 'component_descriptio...",SINGLE PROTEIN,7787
3,[],Mus musculus,Acetylcholinesterase,16.0,False,CHEMBL3198,"[{'accession': 'P21836', 'component_descriptio...",SINGLE PROTEIN,10090
4,[],Rattus norvegicus,Acetylcholinesterase,16.0,False,CHEMBL3199,"[{'accession': 'P37136', 'component_descriptio...",SINGLE PROTEIN,10116

In [40]:
selected_target = targets_df[targets_df['target_chembl_id'] == 'CHEMBL220']
selected_target

,cross_references,organism,pref_name,score,species_group_flag,target_chembl_id,target_components,target_type,tax_id
1,[],Homo sapiens,Acetylcholinesterase,16.0,False,CHEMBL220,"[{'accession': 'P22303', 'component_descriptio...",SINGLE PROTEIN,9606

In [41]:
activity = new_client.activity

res = activity.filter(
    target_chembl_id='CHEMBL220',
    standard_type='IC50'
)

df = pd.DataFrame(res)
df.head()

,action_type,activity_comment,activity_id,activity_properties,assay_chembl_id,assay_description,assay_type,assay_variant_accession,assay_variant_mutation,bao_endpoint,...,target_organism,target_pref_name,target_tax_id,text_value,toid,type,units,uo_units,upper_value,value
0,None,None,33969,[],CHEMBL643384,Inhibitory concentration against acetylcholine...,B,None,None,BAO_0000190,...,Homo sapiens,Acetylcholinesterase,9606,None,None,IC50,uM,UO_0000065,None,0.75
1,None,None,37563,[],CHEMBL643384,Inhibitory concentration against acetylcholine...,B,None,None,BAO_0000190,...,Homo sapiens,Acetylcholinesterase,9606,None,None,IC50,uM,UO_0000065,None,0.1
2,None,None,37565,[],CHEMBL643384,Inhibitory concentration against acetylcholine...,B,None,None,BAO_0000190,...,Homo sapiens,Acetylcholinesterase,9606,None,None,IC50,uM,UO_0000065,None,50.0
3,None,None,38902,[],CHEMBL643384,Inhibitory concentration against acetylcholine...,B,None,None,BAO_0000190,...,Homo sapiens,Acetylcholinesterase,9606,None,None,IC50,uM,UO_0000065,None,0.3
4,None,None,41170,[],CHEMBL643384,Inhibitory concentration against acetylcholine...,B,None,None,BAO_0000190,...,Homo sapiens,Acetylcholinesterase,9606,None,None,IC50,uM,UO_0000065,None,0.8

In [42]:
df = df[['molecule_chembl_id',
         'canonical_smiles',
         'standard_value',
         'standard_units',
         'standard_relation']]

df.head()

,molecule_chembl_id,canonical_smiles,standard_value,standard_units,standard_relation
0,CHEMBL133897,CCOc1nn(-c2cccc(OCc3ccccc3)c2)c(=O)o1,750.0,nM,=
1,CHEMBL336398,O=C(N1CCCCC1)n1nc(-c2ccc(Cl)cc2)nc1SCC1CC1,100.0,nM,=
2,CHEMBL131588,CN(C(=O)n1nc(-c2ccc(Cl)cc2)nc1SCC(F)(F)F)c1ccccc1,50000.0,nM,>
3,CHEMBL130628,O=C(N1CCCCC1)n1nc(-c2ccc(Cl)cc2)nc1SCC(F)(F)F,300.0,nM,=
4,CHEMBL130478,CSc1nc(-c2ccc(OC(F)(F)F)cc2)nn1C(=O)N(C)C,800.0,nM,=

In [43]:
# Remove missing values
df = df.dropna()

# Keep only exact measurements
df = df[df['standard_relation'] == '=']

# Convert IC50 values to numeric
df['standard_value'] = pd.to_numeric(df['standard_value'])

df.head()

,molecule_chembl_id,canonical_smiles,standard_value,standard_units,standard_relation
0,CHEMBL133897,CCOc1nn(-c2cccc(OCc3ccccc3)c2)c(=O)o1,750.0,nM,=
1,CHEMBL336398,O=C(N1CCCCC1)n1nc(-c2ccc(Cl)cc2)nc1SCC1CC1,100.0,nM,=
3,CHEMBL130628,O=C(N1CCCCC1)n1nc(-c2ccc(Cl)cc2)nc1SCC(F)(F)F,300.0,nM,=
4,CHEMBL130478,CSc1nc(-c2ccc(OC(F)(F)F)cc2)nn1C(=O)N(C)C,800.0,nM,=
5,CHEMBL130112,CSc1nc(-c2ccc(C)cc2)nn1C(=O)N(C)c1ccccc1,2400.0,nM,=

In [44]:
df = df[df['standard_units'] == 'nM']

print("Number of curated IC50 records:", df.shape[0])

Number of curated IC50 records: 7522

In [45]:
df.to_csv('curated_bioactivity_data.csv', index=False)
print("✅ Curated dataset saved as 'curated_bioactivity_data.csv'")

✅ Curated dataset saved as 'curated_bioactivity_data.csv'

In [46]:
df.describe()

       standard_value
count    7.522000e+03
mean     8.006118e+04
std      8.240937e+05
min      0.000000e+00
25%      7.900000e+01
50%      9.100000e+02
75%      8.300000e+03
max      4.960000e+07